# OS files
.DS_Store

# Dependencies
node_modules/
vendor/

# IDE
.idea/
.vscode/

# Testing
.phpunit.cache/

# Build artifacts (generated in CI)
assets/css/*.min.css
assets/js/*.min.js

# Logs
firebase-debug.log
