parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - art-in-heaven.php
        - includes
        - admin/class-aih-admin.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    ignoreErrors: []
